<h1>Listing todos</h1>

<table class="table table-striped table-hover">
  <col width="20" />
  <col />
<% @todos.each do |todo| %>
  <tr>
    <td><%= check_box_tag('') %></td>
    <td>
      <strong><%= todo.title %></strong>
      <% if todo.due_at? %>
      <span>(<% I18n.l( todo.due_at.to_date, format: :long ) %>)</span>
      <% end %>
      <% if todo.description.present? %>
      <br><small>simple_format(todo.description)</small>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Todo', new_todo_path %>
